body, h1, h2, h3, h4, h5, h6, a, p, pre, span, li, ul, div {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Home style*/ 
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e0e0e0;
}

.logo {
  padding: 15px;
  flex-grow: 1;
}

.account-section {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-grow: 1;
}

.account-section button {
  margin: 10px 27px 10px 16px;
  border: 1px solid #1976d2;
  line-height: 1.25;
  background-color: #1976d2;
  color: white;  
}

.account-section button:hover {
  color: #1976d2;
}

@media only screen and (max-width: 768px) {
  .logo {
    text-align: center;
    background-color: #e0e0e0;
  }

  .header {
    background-color: transparent;
  }
}

/*Kanban style*/
.operations-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.operations-wrapper button {
  margin: 16px;
  border: 1px solid #1976d2;
  line-height: 1.25;
  background-color: #1976d2;
  color: white;
}

.operations-wrapper button:hover {
  color: #1976d2;
}

/*Navbar style*/
.navbar a{
  width: 25%;
  font-weight: 600;
  letter-spacing: 0.04em;
}

/*TaskCard style*/
.task-card {
  margin: 5px 12px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid beige;
  border-radius: 5px;
  background-color: beige;
  box-shadow: 2px 2px 1px rgb(205, 225, 232);
}

.task-card div{
  display: flex;
  flex-wrap: wrap;
}

.task-card h2 {
  margin-top: 18px;
}

.action-btn {
  align-items: center;
}

.action-btn button {
  border: 1px solid #1976d2;
  line-height: 1.25;
  background-color: #1976d2;
  color: white;
}

.action-btn button:hover {
  color: #1976d2;
}

.task-card p, .task-card pre {
  padding-top: 10px;
}

.task-card-username {
  font-weight: 700;
}

.task-card-date {
  font-style: italic;
}

.right-align {
  justify-content: right;
}

.task-card-span-2 {
  flex-grow: 2;
}

.task-card-span-1 {
  flex-grow: 1;
}

.task-card-content {
  text-align: justify;
  white-space: pre-wrap;
}

/*Login style*/
.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30vh;
}

.login-wrapper h1 {
  margin-bottom: 3px;
}

.login-btn-container {
  display: flex;
  justify-content: center;
}

.login-wrapper button {
  margin: 10px;
  width: 65px;
  border: 1px solid #1976d2;
  line-height: 1.25;
  background-color: #1976d2;
  color: white;
}

.login-wrapper button:hover {
  color: #1976d2;
}

/*TaskForm style*/
.task-form {
  margin: 10vh auto;
  width: 100%;
  max-width: 800px;
}

.task-form>h2 {
  text-align: center;
  width: 100%;
}

.task-form>form {
  margin: 0 10px;
}

.input-wrapper {
  width: 100%;
  margin: 18px 0;
}

.btn-wrapper {
  width: 100%;
  display: flex;
}

.btn-wrapper button {
  border: 1px solid #1976d2;
  line-height: 1.25;
  background-color: #1976d2;
  color: white;
  width: 100px;
  margin: 8px 13px;
}

.btn-wrapper button:hover {
  color: #1976d2;
}

.btn-wrapper button:disabled {
  border: 1px solid #a3a3a3;
  line-height: 1.25;
  background-color: #a3a3a3;
  color: white;
}

.left-btn-wrapper {
  flex-grow: 1;
  text-align: left;
}

.right-btn-wrapper {
  flex-grow: 1;
  text-align: right;
}

/*Empty style*/
.empty {
  margin-top: 10vh;
  width: 100%;
  text-align: center;
  color: #a3a3a3;
}
